.body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.nav-cadastro{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-cadastro li{
    margin: 4% 3%;
}


.divisao-form{
    height: 100%;
    width: 45%;
    background-color: black;
    left: 0;
    top: 0;
    position: fixed;
}

.divisao-img{
    background-image: url(watercolor-4116932.png);
    background-size: cover;
    /* background-color: aqua; */
    position: fixed;
    height: 100%;
    width: 55%;
    top: 0;
    right: 0;
}

.divisao-gracinha-login{
    margin: 30% 60% 45% 70%;
    height: 40%;
    width: 30%;
    background-color: aqua;
    position: fixed;
}