* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


body{
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

.bg-img{
    background-image: url("../imgs/bg-metro-home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

section .container{
    width: 90vw;
    margin: 0 auto;
}

section .container .nav-bar{
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 3.5rem;
    float: right;
}

section .container .nav-bar-item:nth-child(2),
section .container .nav-bar-item:nth-child(3),
section .container .nav-bar-item:nth-child(4),
section .container .nav-bar-item:nth-child(5){
    margin-left: 3.5rem;
}

section .container .nav-bar-item:first-child{
    color: var(--yeelow);
}

ul li{
    display: inline;
}

section .container .logo-home{
    width: 28rem;
    margin-top: 10rem;
}

section .container .slogan{
    float: right;
    font-size: 4.2rem;
    font-weight: 200;
    color: var(--yeelow);
    line-height: 4.4rem;
}

section .container .exp{
    font-weight: 600;
    color: var(--white);
    font-size: 5.6rem;
}

.div-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}


.icons {
    width: 50px;
}








