body{
    margin: 0;
    background-image: url(../img/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F6FAFF;
}
.fundo_login {
    background-color: #23232300;  
    width: 100%;
    height: 60px;
  } 
  ul {
    list-style: none;
    padding-top: 40px;
    padding-right: 50px;
}

ul li {
    color: white;
    display: inline;
    font-size: 20px;
    }

.nav_header a{
    text-decoration: none;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 28px;
}
.nav_header a:hover{
    transform: scale(2.0);
    color:  #FFC702;
}
.fundo_login nav {
        float: right;
    }

li {
    margin: 0 20px;
    font-size: large;
}

.caixa {
    margin: 0 auto;  
    max-width: 100%;
    padding-left: 40px; 
}
.sub_title{
    color: white;
    font-family: 'PoPPins', sans-serif;
    font-size: 35px;
    padding-top: 60px;
    padding-left: 50px;
}
.login_text{
    background-color: rgba(17, 16, 16, 0.507);
    border-radius: 20px;
    width: 40%;
    height: 270px;
    float: right;
    margin-top: 35px;
    margin-right: 380px;
    text-align: center;
    box-shadow: #ffc80281 5px 5px;
    
    
}
.placeholder {
    color: white;
    font-family: 'PoPPins', sans-serif;
    font-size: 20px;
}

#form_login_empresa {
        text-align: right;    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap:   5px;
        width: min-content;
        padding-top: 65px;
    }
.ipt{
    border: none;
    border-bottom: 2px solid white;
    background-color:rgba(255, 255, 255, 0);
    outline: none;
    
    color: white;
}
.ipt:focus, input:focus {
    border-color: #ffc702;
      transition: ease-out 0.20s;
  } 
#button_login{

    margin-left: 40px;
    height: 45px;
    width: 180px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #795d19;
    box-shadow: inset 0 0 0 0 #ffc702;
    transition: ease-out 0.3s;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'PoPPins', sans-serif;
    margin-top: 25px;
}
#button_login:hover{
    box-shadow: inset 180px 0 0 0 #ffc702 ;
}

@media screen and (max-width: 812px){
    .login_text{
        display: inline-block;
    }
}