/* 
.leads {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    margin: 20px auto;
    width: max-content;
}

.cads {
    display: grid;
    grid-template-columns: repeat(2, 210px);
}

.cadastro-leads {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    width: 200px;
    height: 40px;
}

.cadastro-leads option {
    color: var(--yellow);
}

::placeholder {
    color: var(--background_graphic);
    background-color: transparent;
    padding: 0 5px;
}

textarea {
    padding: 5px;
}

.mensagem-leads {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    width: 435px;
    height: 180px;
}

.btn-enviar {
    width: 90px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-enviar :hover {
    transform: translateY(-5px);
} */

/* .form-contact{
    background-color: var(--yellow); 
    width: 600px; 
    height: 500px;
}

.form-contact .form-container{
    justify-content: space-between;
}

.form-contact .form-container .inp-form{
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
}

.form-contact .form-container .div-textarea{
    margin-top: 4vh;
    text-align: center;
} */

.form{
    height: 500px;
    /* display: flex; */
}



.contato{
    display: flex;
    
}

.left-contact{
    height: 500px;
    width: 50%;
}


.left-contact .container-left-contact{
    margin: 45px 90px;
}

.left-contact h2{
    font-size: 3.2rem;
    font-weight: 600;
}

.left-contact p{
    font-size: 1.4rem;
}

.left-contact .email-contact{
    margin-top: 50px;
}

.left-contact .email-contact .icon-email{
    width: 50px;
    font-weight: 600;
}

.left-contact .tel-contact .icon-tel{
    width: 50px;
}

.left-contact .tel-contact{
    margin-top: 50px;
}


.form-contact{
    width: 50%;
    height: 500px;
    float: right;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    border: none;
}

fieldset:nth-child(1){
    display: flex;
}

fieldset:nth-child(3){
    margin-top: 10px;
}

.form-wrap input{
    margin: 10px 10px;
    width: calc(100% - 10px);
    border: none;
    height: 30px;
    padding-left: 5px;
}

textarea{
    width: calc(100% - 10px); 
    margin: 10px 10px;
    height: 250px;
    padding-left: 5px;
}

button{
    margin: 10px 10px;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    border-radius: 10px;
}



.empty-space{
    height: 120px;
    background-color: white;
    
}

.footer{
    height: 100px;
    background-color: black;
    color: var(--yellow);
    vertical-align: text-top;
}

.footer .container-footer{
    margin: 0 150px;
}

.footer .container-footer .text-left{
    font-size: 3.6rem;
    font-weight: 600;
    float: left;
    margin-top: 10px;
    
}

.footer .container-footer .text-right{
    float: right;
    font-size: 1.4rem;
    color: var(--white);
   margin-top: 30px;
}

