* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


body{
    background-color: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.yellow{
    color: var(--yellow);
}

/* First Page */
.bg-img{
    background-image: url("../img/bg-metro-home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99vw;
    height: 90vh;
}

section .container{
    width: 90vw;
    margin: 0 auto;
}

section .container .nav-bar{
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 3.5rem;
    float: right;
}

section .container .nav-bar-item:nth-child(2),
section .container .nav-bar-item:nth-child(3),
section .container .nav-bar-item:nth-child(4),
section .container .nav-bar-item:nth-child(5){
    margin-left: 3.5rem;
}

section .container .nav-bar-item:first-child{
    color: var(--yellow);
}

ul li{
    display: inline;
}

section .container .logo-home{
    width: 28rem;
    margin-top: 20rem;
}

section .container .slogan{
    float: right;
    font-size: 4.2rem;
    font-weight: 200;
    color: var(--yellow);
    line-height: 4.4rem;
}

section .container .exp{
    font-weight: 600;
    color: var(--white);
    font-size: 5.6rem;
}

/* Second Page */
.about-us{ 
    height: 500px;
    overflow-x: hidden;
}

section .div-grid{
    display: flex;
    justify-content: center;
    width: 100%; 
}

section .div-grid .icons{
    width: 80px;
    margin: 16vh 7.8vw 28px;
}

.about-us .div-grid div h3{
    width: 210px;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto;
    color: var(--background_graphic);
}

.about-us .div-grid div p{
    width: 210px;
    text-align: center;
    font-size: 1.4rem;
    margin: 0 auto;
}


/* Third Page */
.just-about{
    margin: 26vh auto;
    height: 35vh;
}

.queue{
    height: 474px;
}

.queue .bg-queue{
    background-image: url(../img/queue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.page-container{
    width: 80%;
    margin: 0 auto;
}

.queue .bg-queue .page-container .content-bg-queue{
    color: var(--white);
    font-size: 4.2vw;
    font-weight: 600;
    padding-top: 10%;
}

.queue .bg-queue .page-container .second-content-bg-queue{
    color: var(--white);
    font-size: 2.6vw;
}


/* Fourth Page */
.content-about-us{
    display: flex; 
    align-items: center;
    margin-top: 164px;
}

.bg-yellow-about{
    background-color: var(--yellow);
    width: 1170px;
    height: 124px;
}

.content-about{
    color: black;
    text-align: center;
    margin-top: 46px;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Squada One';
}


.content-about-us-text{
    color: black;
    margin-left: 68px;
    margin-right: 128px;
    font-size: 1.8rem;
}








